.icon_item {
  height: 45px;
  &.active {
    background-color: #e5ebee;
    // background-color: #2a3236;
  }
  &:hover {
    background-color: #f5f8f9;
    // background-color: #181c1f;
  }
  .left {
    width: 20px;
    i {
      font-size: 20px;
    }
  }
}
