.ui-list {
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  .ui-list-refresh {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .ui-list-refresh {
      margin-left: 6px;
    }
  }
  ui-list-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: red;
    &-tip {
      margin-left: 6px;
    }
  }
}
