.newsItem {
  border-bottom: solid 1px #00000019;
  &:hover {
    background-color: #f5f8f9;
    // background-color: #fff0f5;
    // background-color: #181c1f;
  }
  .right {
    .one {
      .avatar {
        img {
          width: 30px;
          height: 30px;
          object-fit: cover;
        }
      }
      .dot {
        width: 2px;
        height: 2px;
        background-color: #5c6c74;
        border-radius: 100%;
      }
      .time {
        color: #5c6c74;
      }
    }
  }
  i {
    font-size: 40px !important;
  }
}
