@font-face {
  font-family: "iconfont"; /* Project id 4804718 */
  src: url("//at.alicdn.com/t/c/font_4804718_v5bnjwhuvjp.woff2?t=1736411769370")
      format("woff2"),
    url("//at.alicdn.com/t/c/font_4804718_v5bnjwhuvjp.woff?t=1736411769370")
      format("woff"),
    url("//at.alicdn.com/t/c/font_4804718_v5bnjwhuvjp.ttf?t=1736411769370")
      format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou_xiangshang:before {
  content: "\eb0a";
}

.icon-icon_arrow_right:before {
  content: "\e62f";
}

.icon-shezhi:before {
  content: "\e63c";
}

.icon-Profile:before {
  content: "\e616";
}

.icon-tuichudenglu:before {
  content: "\e618";
}

.icon-tianjia:before {
  content: "\e607";
}

.icon-fenxiang:before {
  content: "\e86e";
}

.icon-beiguanzhu:before {
  content: "\e685";
}

.icon-wodeguanzhu:before {
  content: "\e8bc";
}

.icon-lishijilu:before {
  content: "\e612";
}

.icon-shoucangjia:before {
  content: "\e67c";
}

.icon-dianzan:before {
  content: "\e6ac";
}

.icon-shaohouyuedu:before {
  content: "\e684";
}

.icon-dingyue:before {
  content: "\e63b";
}

.icon-photo:before {
  content: "\e619";
}

.icon-privilege:before {
  content: "\e61a";
}

.icon-send:before {
  content: "\e640";
}

.icon-home:before {
  content: "\e648";
}
