.content {
  height: calc(100vh - 0.35rem);

  .left {
    width: 270px;
    height: 100%;

    // border-right: solid 1px #cdcdcd;
    border-right: solid 1px #ffffff33;
  }
  .right {
    height: 100%;
  }
}
