.content {
  height: calc(100vh - 3.5rem);

  .left {
    width: 270px;
    height: 100%;

    border-right: solid 1px #cdcdcd;
    // border-right: solid 1px #ffffff33;
  }
  .right {
    height: 100%;
    .right_main {
      height: 100%;
      overflow: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
